[Unit]
Description=RulesetRandomizer

[Service]
StandardOutput="/var/log/ruleset_randomizer.log"
StandardError="/var/log/ruleset_randomizer.log"
ExecStart=/usr/bin/ruleset_randomizer

[Install]
WantedBy=multi-user.target